annotated-types==0.7.0
cachetools==5.5.0
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.0
cryptography==44.0.3
google-api-core==2.24.0
google-auth==2.37.0
googleapis-common-protos==1.66.0
grpcio==1.68.1
idna==3.10
instill-sdk==0.3.2
numpy==1.26.4
openvino==2025.0.0
openvino-telemetry==2024.1.0
packaging==24.2
pandas==2.2.3
pillow==11.2.1
proto-plus==1.25.0
protobuf==4.25.5
protoc-gen-openapiv2==0.0.1
pyasn1==0.6.1
pyasn1_modules==0.4.1
PyAudio==0.2.14
pybind11==2.13.6
pycparser==2.22
pydantic==2.10.3
pydantic_core==2.27.1
PyQt3D==5.15.7
PyQt5==5.15.11
PyQt5_sip==12.17.0
PyQt6==6.9.1
PyQt6-3D==6.9.0
PyQt6-Charts==6.9.0
PyQt6-DataVisualization==6.9.0
PyQt6-NetworkAuth==6.9.0
PyQt6-WebEngine==6.9.0
PyQt6_sip==13.10.2
PyQtChart==5.15.7
PyQtDataVisualization==5.15.6
PyQtNetworkAuth==5.15.6
PyQtPurchasing==5.15.6
PyQtWebEngine==5.15.7
python-dateutil==2.9.0.post0
pytz==2024.2
pywatchman==2.0.0
PyYAML==6.0.2
requests==2.32.3
rsa==4.9
six==1.17.0
TBB==0.2
tqdm==4.67.1
types-protobuf==4.25.0.20240417
types-PyYAML==6.0.12.20240917
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
wheel @ file:///opt/homebrew/Cellar/python%403.13/3.13.2/libexec/wheel-0.45.1-py3-none-any.whl#sha256=b9235939e2096903717cb6bfc132267f8a7e46deb2ec3ef9c5e234ea301795d0
